.popup__close-button {
  display: flex;
  flex-shrink: 0;
  align-self: flex-end;
  position: absolute;
  transform: rotate(45deg);
  background-image: url(../../../images/plus.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: transparent;
  border: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  transition: .4s;
}

.popup__close-button:hover {
  opacity: .6;
  outline: none;
}

.popup__close-button:focus {
  outline: none;
}

.popup__close-button:active {
  outline: none;
}

@media screen and (max-width: 547px) {
  .popup__close-button {
    width: 26px;
    height: 26px;
    top: -40px;
    right: 0;
  }
}

@media screen and (min-width: 548px) {
  .popup__close-button {
    width: 40px;
    height: 40px;
    top: -40px;
    right: -40px;
  }
}