.card__like {
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
  background-image: url(../../../images/like.svg);
  background-size: 20px 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  transition: .4s;
  margin: 0;
  padding: 0;
}

.card__like:hover {
  opacity: .5;
}

.card__like:focus {
  outline: none;
}

.card__like:active {
  background-image: url(../../../images/liked.svg);
  opacity: 1;
}