.header {
  display: flex;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 709px) {
  .header {
    flex-direction: column;
  }
}

@media screen and (min-width: 710px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}